body {
    padding: 50px;
    background-image: url("https://i.pinimg.com/originals/76/dc/af/76dcafc26efcb4fd9cc77292fce442be.png");
    background-repeat: no-repeat;
    background-size: cover;
    font-family: sans-serif;
}

#container {
    display: flex;
    justify-content: center;
    background-color: rgba(255, 255, 255, 0.3);
    overflow: scroll;
    height: 30em;
    border-radius: 3em;
}

#container::-webkit-scrollbar {
    display: none;
}


/* .main {
    background-color: rgba(255, 255, 255, 0.3);
} */